FormulaEngine/FormulaEngine.Logic/bin/
FormulaEngine/FormulaEngine.Logic/obj/
FormulaEngine/FormulaEngine.Tests/bin/
FormulaEngine/FormulaEngine.Tests/obj/
FormulaEngine/FormulaEngine.ConsoleUI/bin/
FormulaEngine/FormulaEngine.ConsoleUI/obj/


