FormulaEngine.Logic/bin/
FormulaEngine.Logic/obj/
FormulaEngine.Tests/bin/
FormulaEngine.Tests/obj/
FormulaEngine.ConsoleUI/bin/
FormulaEngine.ConsoleUI/obj/
FormulaEngine.WebAPI/obj/
FormulaEngine.WebAPI/bin/



